/* font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* font-family: 'Bad Script', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-fluid {
  width: 100%;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

h6 {
  font-size: 9px;
}

p {
  font-size: 10px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  color: #fff;
}

body {
  background: #0C0E19;
  background: linear-gradient(to bottom, #0C0E19 1.13%, #132E3B 3.54%, #132E3B 7.54%, #0C6073 12.72%, #0C6073 15.72%, #132E3B 20.54%, #0C0E19 31.84%, #0C0E19 50.58%, #0C0E19 58.62%, #0C0E19 63.62%, #132E3B 74.54%, #0C0E19 85.32%);
}

header {
  position: relative;
  height: 30vh;
}

header .img-header {
  position: absolute;
  top: 25px;
  bottom: 0;
}

header .texto-header {
  position: absolute;
  top: 10px;
}

header .texto-header h1 {
  font-family: "Bad Script", cursive;
  margin-left: 12.5px;
  margin-top: 10px;
}

header .texto-header h4 {
  font-family: "Bad Script", cursive;
  margin-left: 12.5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

header .texto-header .boton {
  margin-left: 12.5px;
  margin-top: 5px;
  font-size: 10px;
  color: #ffffff;
  padding: 5px;
  border: #CC4B3D solid 2px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

header .texto-header .boton:hover {
  background-color: #CC4B3D;
}

.titulo-index {
  font-family: "Bad Script", cursive;
  text-align: center;
  margin: 20px 0;
}

.menu-cards {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.menu-cards .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px #ffffff solid;
}

.menu-cards .cards:hover {
  border-bottom: 3px #CC4B3D solid;
  box-shadow: 0 8px 6px -6px black;
}

.menu-cards .cards img {
  width: 40%;
  height: auto;
}

.menu-cards .cards p {
  padding: 0 5px;
  text-align: center;
}

.titulo-tarot {
  font-family: "Bad Script", cursive;
  text-align: center;
  margin: 50px 0 25px 0;
}

.cards-tarot {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.cards-tarot .boton-tarot {
  background-color: transparent;
  border: 0;
}

.cards-tarot .boton-tarot:hover {
  opacity: 1;
  filter: drop-shadow(2px 2px 2px #ffffff);
}

.cards-tarot .boton-tarot img {
  width: 80%;
  margin-bottom: 30px;
}

.modal-content {
  background-color: #0C0E19;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body img {
  margin-bottom: 10px;
  width: 50%;
}

.container-sobre-mi {
  margin-top: 50px;
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-sobre-mi .img-fondo-sobre-mi {
  position: absolute;
  bottom: 0;
}

.container-sobre-mi .card-sobre-mi {
  position: absolute;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container-sobre-mi .card-sobre-mi img {
  width: 25%;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.container-sobre-mi .card-sobre-mi div {
  margin-left: 10px;
}

.container-sobre-mi .card-sobre-mi .card-title {
  font-family: "Bad Script", cursive;
}

.container-sobre-mi .card-sobre-mi p {
  font-size: 9px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

footer h4 {
  text-align: center;
}

footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

footer .redes img {
  width: 25px;
}

footer .redes img:hover {
  filter: drop-shadow(3px 3px 3px #2D4450);
  opacity: 70%;
}

footer h6 {
  text-align: center;
}

.body-blog {
  width: 100%;
  margin: auto;
}
