@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
.modal-content {
  background-color: #0C0E19;
}

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-image: url(../img/tarot-2.png);
  background-repeat: no-repeat;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
  filter: drop-shadow(0.3rem 0.3rem 0.3rem #2D4450);
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .btn-close {
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.portfolio-modal p {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.carta-tarot {
  color: #0C0E19;
  font-family: 'Open Sans', sans-serif;
  font-size: 10rem;
  font-weight: bolder;
}

@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Bad Script', cursive; */
/* 1rem = 10px */
/* 2rem = 20px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  font-size: 1.8rem;
}

.img-fluid {
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  color: #fff;
}

body {
  background: #0C0E19;
}

header {
  position: relative;
  height: 65rem;
}

header .img-header {
  position: absolute;
  top: 2rem;
  bottom: 0;
}

header .texto-header {
  position: absolute;
  top: 2rem;
}

header .texto-header h1 {
  font-family: 'Bad Script', cursive;
  font-size: 6.4rem;
  margin-left: 2.5rem;
  margin-top: 2rem;
}

header .texto-header h2 {
  font-family: 'Bad Script', cursive;
  font-size: 3.5rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.titulo-index {
  font-family: 'Bad Script', cursive;
  font-size: 6rem;
  text-align: center;
  margin: 5rem 0;
}

.menu-cards {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.menu-cards .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.4rem #ffffff solid;
}

.menu-cards .cards:hover {
  border-bottom: 0.4rem #CC4B3D solid;
  box-shadow: 0 8px 6px -6px black;
}

.menu-cards .cards img {
  width: 40%;
  height: auto;
}

.menu-cards .cards p {
  padding: 0 2rem;
  text-align: center;
}

.titulo-tarot {
  font-family: 'Bad Script', cursive;
  font-size: 4rem;
  text-align: center;
  margin: 5rem 0;
}

.container-tarot {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-tarot .tarot {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-tarot .tarot img {
  height: 20rem;
}

.container-tarot .tarot h4 {
  font-family: 'Bad Script', cursive;
  color: #fff;
  font-size: 3rem;
}

.container-tarot .tarot p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.container-sobre-mi {
  margin-top: 10rem;
  position: relative;
  height: 60rem;
}

.container-sobre-mi .img-fondo-sobre-mi {
  position: absolute;
  bottom: 0;
}

.container-sobre-mi .card-sobre-mi {
  position: absolute;
  top: 0;
  left: 2.5rem;
  background-color: transparent;
  border: none;
  width: 62%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container-sobre-mi .card-sobre-mi img {
  width: 25rem;
}

.container-sobre-mi .card-sobre-mi .card-title {
  font-family: 'Bad Script', cursive;
  color: #fff;
  font-size: 3rem;
}

.container-sobre-mi .card-sobre-mi .card-text {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

footer h5 {
  color: #ffffff;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0 3rem 0;
}

footer .redes img {
  width: 4rem;
  opacity: 70%;
}

footer .redes img:hover {
  filter: drop-shadow(0.3rem 0.3rem 0.3rem #2D4450);
  opacity: 100%;
}

footer h6 {
  color: #ffffff;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.body-blog {
  width: 100%;
  margin: auto;
}

@media (max-width: 767px) {
  html {
    font-size: 25%;
  }
  body {
    background: #0C0E19;
  }
  header {
    margin-top: 2rem;
    position: relative;
    height: 50rem;
  }
}
