/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Bad Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

$blanco: #ffffff;
$rosa: #CC4B3D;
$bad: 'Bad Script',
cursive;
$open: 'Open Sans',
sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.img-fluid {
    width: 100%;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 12px;
}

h5 {
    font-size: 10px;
}

h6 {
    font-size: 9px;
}

p {
    font-size: 10px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-family: $open;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: $open;

    &:hover {
        color: #fff;
    }
}

body {
    background: #0C0E19;
    background: linear-gradient(to bottom,
            #0C0E19 1.13%,
            #132E3B 3.54%,
            #132E3B 7.54%,
            #0C6073 12.72%,
            #0C6073 15.72%,
            #132E3B 20.54%,
            #0C0E19 31.84%,
            #0C0E19 50.58%,
            #0C0E19 58.62%,
            #0C0E19 63.62%,
            #132E3B 74.54%,
            #0C0E19 85.32%);
  
}

header {

    position: relative;
    height: 30vh;


    .img-header {
        position: absolute;
        top: 25px;
        bottom: 0;
    }

    .texto-header {
        position: absolute;
        top: 10px;

        h1 {
            font-family: $bad;
            margin-left: 12.5px;
            margin-top: 10px;
        }

        h4 {
            font-family: $bad;
            margin-left: 12.5px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .boton {
            margin-left: 12.5px;
            margin-top: 5px;
            font-size: 10px;
            color: $blanco;
            padding: 3px 15px;
            border: $rosa solid 1px;
            border-radius: 30px;
            box-shadow: 0px 4px 4px 0px #00000040;

            &:hover {
                background-color: $rosa;
            }

        }

    }
}

.titulo-index {
    font-family: $bad;
    text-align: center;
    margin: 10px 0;

}

// ------------menu cards---------

.menu-cards {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 3px $blanco solid;
     

        &:hover {
            border-bottom: 3px $rosa solid;
            box-shadow: 0 8px 6px -6px black;
        }

        img {
            width: 50%;
            height: auto;
        }

        p {
            padding: 0 5px;
            text-align: center;
        }
    }

}


.titulo-tarot {
    font-family: $bad;
    text-align: center;
    margin: 50px 0 25px 0;
}


.cards-tarot {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

    .boton-tarot {
        background-color: transparent;
        border: 0;

        &:hover {
            opacity: 1;
            filter: drop-shadow(4px 4px 4px rgb(216, 216, 216));
        }

        img {
            width: 80%;
            margin-bottom: 30px;
        }
    }
}

.modal-content {
    background-color: #0C0E19;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin-bottom: 10px;
        width: 50%;
    }
}

.container-sobre-mi {
    margin-top: 50px;
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .img-fondo-sobre-mi {
        position: absolute;
        bottom: 0;
    }

    .card-sobre-mi {
        position: absolute;
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;


        img {
            width: 25%;
            box-shadow: 0px 4px 4px 0px #00000040;
        }

        div {
            margin-left: 10px;
        }

        .card-title {
            font-family: $bad;
        }

        p {

            font-size: 9px;
        }


    }
}


footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;

    h4 {

        text-align: center;
    }

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px;

        img {
            width: 25px;
            // opacity: 70%;

            &:hover {
                filter: drop-shadow(3px 3px 3px #fff);
                opacity: 70%;
            }
        }
    }

    h6 {
        text-align: center;
    }
}

//----------------- BLOG ----------------

.body-blog {
    width: 100%;
    margin: auto;
}

@media (min-width: 768px) {

    h1{
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 18px;
    }



    body {
        background: #0C0E19;
        background: linear-gradient(to bottom,
                #0C0E19 3.13%,
                #0C6073 15.72%,
                #0C0E19 21.84%,
                #0C0E19 31.84%,
                #0C0E19 50.58%,
                #0C0E19 58.62%,
                #0C0E19 63.62%,
                #132E3B 74.54%,
                #0C0E19 85.32%);
    }

    header {

        position: relative;
        height: 400px;


        .img-header {
            position: absolute;
            top: 50px;
            bottom: 0;
        }

        .texto-header {
            top: 15px;

            h1 {
                font-size: 48px;
                margin-left: 25px;
              
            }

            h4 {
                margin-left: 25px;
                margin-top: 10px;
                margin-bottom: 20px;
            }

            .boton {
                margin-left: 25px;
                margin-top: 10px;
                font-size: 14px;
                padding: 7px;
                border: $rosa solid 2px;
                border-radius: 60px;
                box-shadow: 0px 4px 4px 0px #00000040;
            }

        }
    }

    .titulo-index {
        margin: 40px 0;

    }

    // ------------menu cards---------

    .menu-cards {

        .cards {
            border-bottom: 4px $blanco solid;

            &:hover {
                border-bottom: 4px $rosa solid;
                box-shadow: 0 8px 6px -6px black;
            }

            img {
                width: 50%;
            }

            p {
                padding: 0 15px;
            }
        }

    }


    .titulo-tarot {
        margin: 100px 0 50px 0;
    }

    .cards-tarot {

        justify-content: space-around;

        .boton-tarot {

            &:hover {
                filter: drop-shadow(4px 4px 4px rgb(216, 216, 216));
            }

            img {
                width: 80%;
                margin-bottom: 60px;
            }
        }
    }


    .modal-body {

        img {
            margin-bottom: 20px;

        }
    }



    .container-sobre-mi {
        margin-top: 100px;
        height: 600px;

        .card-sobre-mi {
            left: 25px;
            width: 80%;

            img {
                width: 30%;
                box-shadow: 0px 6px 6px 0px #00000040;

            }

            div {
                margin-left: 20px;
            }

            p {
                font-size: 18px;
            }
        }
    }


    footer {
        margin-bottom: 30px;
        margin-top: 30px;


        .redes {
            margin: 30px;

            img {
                width: 50px;

                &:hover {
                    filter: drop-shadow(6px 6px 6px #fff);

                }
            }

        }

    }



}


@media (min-width: 968px) {

    body {
        background: #0C0E19;
        background: linear-gradient(to bottom,
                #0C0E19 3.13%,
                #0C6073 21.72%,
                #0C0E19 31.84%,
                #0C0E19 50.58%,
                #0C0E19 58.62%,
                #0C0E19 63.62%,
                #132E3B 74.54%,
                #0C0E19 85.32%);
    }

    header {

        position: relative;
        height: 650px;


        .img-header {
            position: absolute;
            top: 30px;
            bottom: 0;
        }

        .texto-header {
            top: 20px;

            h1 {
                margin-left: 25px;
                margin-top: 20px;
                font-size: 70px;
            }

            h4 {
                font-family: $bad;
                margin-left: 25px;
                margin-top: 30px;
                margin-bottom: 50px;
                font-size: 48px;
            }

            .boton {
                margin-left: 25px;
                margin-top: 10px;
                font-size: 20px;
                padding: 10px 20px ;
                border: $rosa solid 3px;
                border-radius: 60px;
                box-shadow: 0px 4px 4px 0px #00000040;
            }

        }
    }

    .titulo-index {
        margin: 90px 0;

    }

    // ------------menu cards---------

    .menu-cards {


        .cards {
            border-bottom: 4px $blanco solid;

            &:hover {
                border-bottom: 4px $rosa solid;
                box-shadow: 0 8px 6px -6px black;
            }

            img {
                width: 50%;
            }

            p {
                padding: 0 15px;
            }
        }

    }


    .titulo-tarot {
        margin: 100px 0 50px 0;
    }

    .cards-tarot {

        justify-content: space-around;

        .boton-tarot {
            img {
                width: 100%;
                margin-bottom: 60px;
            }
        }
    }

    .modal-body {

        img {
            margin-bottom: 20px;

        }
    }

    .container-sobre-mi {
        margin-top: 200px;
        height: 700px;

        .card-sobre-mi {
            left: 25px;
            width: 60%;

            img {
                width: 25%;
                box-shadow: 0px 6px 6px 0px #00000040;

            }

            div {
                margin-left: 20px;
            }

            .card-title {
                font-family: $bad;
            }

            p {
                font-size: 18px;
            }
        }
    }


    footer {
        margin-bottom: 30px;
        margin-top: 30px;


        .redes {
            margin: 30px;

            img {
                width: 50px;

                &:hover {
                    filter: drop-shadow(3px 3px 3px #fff);

                }
            }

        }

    }



}